{% extends '../layout/dash_base_docente.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-bg-dark text-center">Gestión Asignatura</h5>
    <!-- Agregar un div para mostrar el mensaje -->
    <div id="mensaje">
      {% if mensaje %}
        <p>{{ mensaje }}</p>
      {% endif %}
    </div>

    <h1>Agregar Asignatura</h1>
    <form method="post" action="{% url 'agreg_asig' %}">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" maxlength="10"><br>
    
        <label for="sigla">Sigla:</label>
        <input type="text" id="sigla" name="sigla" maxlength="10"><br>
    
        <label for="docentes">Docentes:</label>
        <select id="docentes" name="docentes" multiple>
            {% for docente in docentes_disponibles %}
                <option value="{{ docente.id }}">{{ docente }}</option>
            {% endfor %}
        </select><br>
    
        <label for="secciones">Secciones:</label>
        <select id="secciones" name="secciones" multiple>
            {% for seccion in secciones_disponibles %}
                <option value="{{ seccion.id }}">{{ seccion }}</option>
            {% endfor %}
        </select><br>
    
        <input type="submit" value="Guardar">
    </form>
  </div>
</div>
{% endblock %}













