{% extends '../layout/dash_base_docente.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card text-bg-dark align-items-center">
  <h1>Lista de Asignaturas</h1>
</div>

<br>

<div class="card">
  <div class="card-body">
    <h1>Lista de Asignaturas</h1>
    <ul class="list-group">
      {% for asignatura in asignaturas %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div>
            <strong>Nombre:</strong> {{ asignatura.nombre }}<br>
            <strong>Sigla:</strong> {{ asignatura.sigla }}<br>
            <strong>Secciones:</strong>
            {% if asignatura.secciones.all %}
            <ul class="list-group">
              {% for seccion in asignatura.secciones.all %}
              <li class="list-group-item">{{ seccion.nombre }}</li>
              {% endfor %}
            </ul>
            {% else %}
            No hay información disponible.
            {% endif %}
          </div>
        </div>
      </li>
      {% empty %}
      <li class="list-group-item">No hay asignaturas disponibles.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
