{% extends '../layout/dash_base_docente.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-bg-dark text-center">Gestión Asignatura</h5>
    <h1>Lista de Asignaturas</h1>
    <ul>
      {% for asignatura in asignaturas %}
        <li>
          <strong>Nombre:</strong> {{ asignatura.nombre }}<br>
          <strong>Sigla:</strong> {{ asignatura.sigla }}<br>
          <strong>Docentes:</strong>
          {{ asignatura.docentes|default:"No hay información disponible" }}<br>
          <strong>Secciones:</strong>
          {{ asignatura.secciones|default:"No hay información disponible" }}<br>
          <!-- Agrega más información de la asignatura si es necesario -->
        </li>
      {% empty %}
        <li>No hay asignaturas disponibles.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
