.env
.mati

# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media
staticfiles

# Secret key
*.secret

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment
.env

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Python files
*.pyc
*.pyo

# Miscellaneous
.DS_Store
Thumbs.db
