{% extends '../layout/dash_base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  

<div class="input-group">
  <button class="btn btnnav" type="button" id="button-addon2" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i></button>
  <div class="col text-center text-bg-dark">
      <h1>Mis Salidas</h1>
  </div>
  <button class="btn btnnav" type="button" id="button-addon2"><i class="fa-solid fa-question"></i></button>
</div>

<br>

{% for s in salidas %}
<div class="card text-bg-dark ">
    <img src="{% static 'images/caminante-mochila-pie-cima-montana.jpg' %}" class="card-img .d-block" alt="..." style="width: 100%; height: 30vh; object-fit: cover;">
    <div class="card-img-overlay cardgrandient">

        <div class="d-flex">
            <div class="p-2 flex-grow-1">
                <h6 class="card-subtitle mb-2 text-stroke">Próxima salida : {{ s.fecha_ingreso | title }}</h6>
      <h5 class="card-title">Actividad: {{ s.actividad | title }} </h5>
      <p class="card-text">Lugar: {{ s.lugar_ejecucion | title }}</p>
      <p class="card-text">Duración: {{ s.dias | title }} días, {{ s.noches | title }} noches.</p>
      <p class="card-text">Asignatura: {{ s.asignatura | title }}</p>
      

            </div>
            <div class="p-2">
                
                
                <div class="card card-transparent">
                    <div class="card-body">
                        
                        <div class="container overflow-hidden text-center">
                            <div class="row gx-5">
                              <div class="col">
                               <div class="p-3">
                                {% if s.semaforo.id == 1 %}
                                    <i class="fa-solid fa-circle fs-1 text-success"></i>
                                {% elif s.semaforo.id == 2 %}
                                    <i class="fa-solid fa-circle fs-1 text-warning"></i>
                                {% elif s.semaforo.id == 3 %}
                                    <i class="fa-solid fa-circle fs-1 text-danger"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle fs-1 text-secondary"></i>
                                {% endif %}
                               </div>
                              </div>
                              <div class="col">
                                <div class="p-3">{{ s.situacion | title }}</div>
                              </div>
                            </div>
                          </div>
                        


                    </div>
                    
                  </div>





            </div>
            <div class="p-2"></div>
          </div>


      
    </div>
</div>
<br>
{% endfor %}




<div>
  {% include 'layout/paginator.html' %}
</div>


{% endblock %}