{% extends '../layout/dash_base.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  
{% if data %}
  <!-- Renderizar la información de la salida de terreno -->
 



<!-- Banner actividad -->
<div class="card text-bg-dark ">
    <img src="{% static 'images/caminante-mochila-pie-cima-montana.jpg' %}" class="card-img .d-block" alt="..." style="width: 100%; height: 30vh; object-fit: cover;">
    <div class="card-img-overlay cardgrandient">
      <h6 class="card-subtitle mb-2 text-stroke">Proxima salida :  {{ data.fecha_ingreso }}</h6>
      <h6 class="card-subtitle mb-2 text-stroke">Finaliza: {{ data.fecha_termino}} </h6>
      <h5 class="card-title">Actividad: {{data.actividad}} </h5>
      <p class="card-text">Lugar: {{data.lugar_ejecucion}}.</p>
      <p class="card-text">Duración: {{data.dias}} días, {{data.noches}} noches. /     
        {% for dia in data.diasemana.all %}
        {{ dia.nombre }}
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
        </p>

      <p class="card-text">Asignatura: {{data.asig_base}}.</p>
      {% comment %} <p class="card-text"><small>Última actualización hace 3 minutos</small></p> {% endcomment %}
    </div>
</div>
<!-- fin primera linea baner -->


<!-- profesor / implementos  -->
<div class=" text-center  ">
    <div class="row">
      <div class=" col-12 col-md-6 pt-3 ">
        <div class="card text-bg-dark ">
          <h5 class="card-title">Lista de personal docente y de apoyo  </h5>
          
            <ol class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <img src="{% static 'images/p2.jpg' %}" class="card-img .d-block" alt="..." style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
    
                  <div class=" me-auto">
                    <div class="fw-bold me-5">Docente Titular :</div>
                    <div class="ms-5">{{data.docente_titular}}</div>
                    
                  </div>
                  <!-- Button trigger modal -->


                                <button type="button" class="btn  fa-solid fa-address-book text-success fs-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> </button>

                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Datos de contacto</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <ul class="list-group">
                                          <li class="list-group-item">Correo: {{data.docente_titular.correoduoc}}</li>
                                          <li class="list-group-item">Telefono:  {{data.docente_titular.celular}}</li>
                                        </ul>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                  

                </li>
                {% if data.docentes_apoyo.all %}
                {% for docente_apoyo in data.docentes_apoyo.all %}
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
        Docente de apoyo {{ forloop.counter }} <!-- o cualquier otro atributo que desees mostrar -->
      </button>
    </h2>
    <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <img src="{% static 'images/p2.jpg' %}" class="card-img .d-block" alt="..." style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">

        <div class=" me-auto">
          <div class="fw-bold me-5">Docente N° {{ forloop.counter }} :</div>
          <div class="ms-5">{{ docente_apoyo }} </div>
          
        </div>
        <!-- Button trigger modal -->


                      <button type="button" class="btn  fa-solid fa-address-book text-success fs-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ forloop.counter }}"> </button>

                      <!-- Modal -->
                      <div class="modal fade" id="staticBackdrop{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Datos de contacto</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <ul class="list-group">
                                <li class="list-group-item">Correo: {{docente_apoyo.correoduoc}}</li>
                                <li class="list-group-item">Telefono: {{docente_apoyo.celular}}</li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                              
                            </div>
                          </div>
                        </div>
                      </div>
        

      </li>




        <!-- ... otros detalles de los docentes de apoyo ... -->
      </div>
    </div>
  </div>
</div>



{% endfor %}
</ol>
</div>  
</div>
{% else %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <img src="{% static 'images/blankheadshot.png' %}" class="card-img .d-block" alt="..." style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
    
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Docente:</div>
                    NO SE REQUIERE
                  </div>
                 
                </li>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <img src="{% static 'images/blankheadshot.png' %}" class="card-img .d-block" alt="..." style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
    
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">Docente:</div>
                    NO SE REQUIERE
                  </div>
                  
                </li>

                
              </ol>
        </div>  
      </div>
      {% endif %}

      




{% comment %} 
      <div class="col-12 col-md-6 pt-3">
        <div class="card border border-black">
            <h5 class="card-title">Implementos Necesarios:</h5>
            <div class="card-body">
                <table class="table caption-top">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Obligatorio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if implementos %}
                            {% for implemento in implementos %}
                                {% if forloop.counter0 < 4 %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ implemento.nombre }}</td>
                                        <td>{{ implemento.tipo }}</td>
                                        <td>{% if implemento.requerido %}Si{% else %}-{% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% if implementos|length > 6 %}
                                <tr>
                                    <td colspan="4">
                                        <!-- Botón para activar el segundo modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModalUnico2">
                                          Ver más ...
                                        </button>
    
                                        <!-- Segundo Modal -->
                                        <div class="modal fade" id="miModalUnico2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="miModalUnicoLabel2" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <!-- Título del segundo modal -->
                                                <h1 class="modal-title fs-5" id="miModalUnicoLabel2">Título del segundo modal único</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                              </div>
                                              <div class="modal-body">
                                                <!-- Contenido del segundo modal -->
                                                <table class="table caption-top">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Tipo</th>
                                                            <th scope="col">Obligatorio</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for implemento in implementos %}
                                                            <tr>
                                                                <th scope="row">{{ forloop.counter }}</th>
                                                                <td>{{ implemento.nombre }}</td>
                                                                <td>{{ implemento.tipo }}</td>
                                                                <td>{% if implemento.requerido %}Si{% else %}-{% endif %}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="4">No hay implementos asociados a esta salida de terreno.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> {% endcomment %}

    






<!-- profesor / implementos  -->

<div class="text-center  col-12 col-md-6 pt-3  ">
  <div class="row">
    <div class=" ">
      <div class="card text-bg-dark ">

        <h5 class="card-title ">Clima de la zona : {{current_clima.ubicacion}}, {{current_clima.pais}}  </h5>

        
        <div class="card-group">
          <div class="card  pt-2">

            <p class="card-text fw-bold"><small class="text-body-secondary">{{ current_clima.condicion_text }}</small></p>

            

            
            <div class="d-flex justify-content-center">
              <img src="{{ current_clima.condicion_icono }}" alt="{{ current_clima.condicion_text }}" class="img-fluid" width="100" height="100">
              
            </div>


            <h5 class="card-title "> </h5>
            <div class="card-body">
              <h5 class="card-title">Actual</h5>
              <h5 class="card-title">{{ current_clima.ultima_actualizacion_api|date:"d/m/y" }}</h5>
              <br>
              <p class="card-text fw-bold">{{ current_clima.temperatura_actual|floatformat:"0" }}°</p>
              
              <p class="card-text">
                <small class="text-body-secondary">
                    Última actualización: 
                    {{ current_clima.ultima_actualizacion_api.day }} /{{ current_clima.ultima_actualizacion_api.month }}/{{ current_clima.ultima_actualizacion_api.year }}
                    a las {{ current_clima.ultima_actualizacion_api.hour }}:{{ current_clima.ultima_actualizacion_api.minute|default:"00" }}
                </small>
            </p>
            </div>
          </div>

          {% for pronos in pronostico %}

          

          <div class="card pt-2">

            <p class="card-text fw-bold"><small class="text-body-secondary">{{ pronos.condiciones }}</small></p>
          <div class="d-flex justify-content-center">
            <img src="{{ pronos.icono }}" alt="{{ pronos.condiciones }}" class="img-fluid" width="100" height="100">
          </div>
            

            <div class="card-body">

              <h5 class="card-title">{{ pronos.fecha|date:"l" }}</h5>
              <h5 class="card-title">{{ pronos.fecha|date:"d/m/y" }}</h5>
              <p class="card-text text-danger fw-bold ">{{ pronos.temperatura_max|floatformat:"0" }}°</p>
              <p class="card-text text-primary fw-bold  ">{{ pronos.temperatura_min|floatformat:"0" }}°</p>
              <p class="card-text">
                <small class="text-body-secondary">
                  Última actualización: 
                  {{ pronos.ultima_actualizacion_api.day }}/{{ pronos.ultima_actualizacion_api.month }}/{{ pronos.ultima_actualizacion_api.year }}
                  a las {{ pronos.ultima_actualizacion_api.hour }}:{{ pronos.ultima_actualizacion_api.minute|default:"00" }}
              </small></p>
            </div>
          </div>

          
          
          {% endfor %}     
        </div>        
      </div>  
    </div>


    
    {% comment %} <div class="col-12 col-md-6 pt-2  ">
      <div class="text-center " >
        <div class="row py-2">
          <div class="card border-black">
            <div class="card-body">
              <h5 class="card-title">descenso estudiante:</h5>
              
              {% if baja_estudiante and baja_estudiante.bajada %}
              <p>La bajada actual es: {{ baja_estudiante.bajada.nombre }}</p>
          {% else %}
              <p>Por defecto : Sede Valparaiso.</p>
          {% endif %}
             
<!-- Botón para activar el modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModalUnico">
  Cambiar
</button>

<!-- Modal -->
<div class="modal fade" id="miModalUnico" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="miModalUnicoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Título del modal -->
        <h1 class="modal-title fs-5" id="miModalUnicoLabel">Título del modal único</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <form method="post">
          {% csrf_token %}
          {{ form.bajada.label_tag }} {{ form.bajada }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>



      </div>
    </div>


  </div> {% endcomment %}

  
</div>
    </div><div class="py-2 ">

      <div class="card border-black">
        <div class="card-body">
          <h5 class="card-title">Secciones por Asignatura:</h5>
          {% for asignatura in data.asignaturas.all %}
            <span class="fw-bold">{{ asignatura.nombre }}</span>:
            {% if asignatura.seccion_set.all %}
              {% for sec in asignatura.seccion_set.all %}
                {{ sec.nombre }}
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
            {% else %}
              Asignatura sin secciones actualmente.
            {% endif %}
            {% if not forloop.last %} |-| {% endif %}
          {% endfor %}
        </div>
      </div>
      
      
      



  </div>
  </div>
  
</div>



<div class="card px-5 ">
  <div class="card-body px-5  ">
    <div class="ratio ratio-16x9 " style="--bs-aspect-ratio: 50%;">
      <iframe width="650" height="450" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=mm&metricTemp=°C&metricWind=km/h&zoom=9&overlay=wind&product=ecmwf&level=surface&lat=-33.28&lon=-71.337&detailLat=-33.147&detailLon=-71.581&detail=true" frameborder="0"></iframe>
    </div>
  </div>
</div>


{% else %}
  <!-- Manejar el caso en el que no hay salidas de terreno que cumplan con los criterios -->
  No hay salidas de terreno disponibles.
{% endif %}




  

{% endblock %}
