{% extends '../layout/dash_base_docente.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% block js %}
    <script>
        function confirmarEliminacion(boton) {
            Swal.fire({
                title: "¿Estás seguro?",
                text: "Esta acción no se puede deshacer",
                icon: "warning",
                showCancelButton: true,
                cancelButtonText: "No, Cancelar",
                confirmButtonText: "Sí, Eliminar",
                reverseButtons: true,
                confirmButtonColor: "darkred"
            }).then((result) => {
                // result.value será true si se hizo clic en "Sí, Eliminar"
                if (result.value) {
                    // Enviar el formulario si se confirma la eliminación
                    boton.closest("form").submit();
                }
            });
        }
    </script>
{% endblock %}

<div class="card text-bg-dark">
  <div class="row align-items-center">
      <div class="col-auto me-auto">
          <a href="javascript: history.go(-1)" class="btn btn-light ms-2"><i class="fa-solid fa-chevron-left"></i></a>
      </div>
      <div class="col text-center">
          <h1>Lista de Asignaturas</h1>
      </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-body">
    <div class="mb-3">
      <a href="{% url 'agreg_asig' %}" class="btn btn-success float-end">Agregar Asignatura <i class="fa-regular fa-square-plus mas"></i></a>
    </div>
    <h1>Lista de Asignaturas</h1>
    <ul class="list-group">
      {% for asignatura in asignaturas %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div>
            <strong>Nombre:</strong> {{ asignatura.nombre }}<br>
            <strong>Sigla:</strong> {{ asignatura.sigla }}<br>
            <strong>Docentes:</strong>
            {% if asignatura.docentes.all %}
            <ul class="list-group">
              {% for docente in asignatura.docentes.all %}
              <li class="list-group-item">{{ docente.user.first_name }} {{ docente.user.last_name }}</li>
              {% endfor %}
            </ul>
            {% else %}
            No hay información disponible.
            {% endif %}
            <br>
            <strong>Secciones:</strong>
            {% if asignatura.secciones.all %}
            <ul class="list-group">
              {% for seccion in asignatura.secciones.all %}
              <li class="list-group-item">{{ seccion.nombre }}</li>
              {% endfor %}
            </ul>
            {% else %}
            No hay información disponible.
            {% endif %}
          </div>
          <div class="d-flex align-items-center">
            <a href="{% url 'editar_asignatura' asignatura.id %}" class="btn btn-primary me-2">Editar</a>
            <form method="post" action="{% url 'eliminar_asignatura' asignatura.id %}">
              {% csrf_token %}
              <button type="button" class="btn btn-danger" onclick="confirmarEliminacion(this)">Eliminar</button>
            </form>
          </div>
        </div>
      </li>
      {% empty %}
      <li class="list-group-item">No hay asignaturas disponibles.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}