{% extends '../layout/dash_base_docente.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  


<div class="input-group">
    <button class="btn btnnav" type="button" id="button-addon2" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i></button>
    <div class="col text-center text-bg-dark">
        <h1>Agregar Asignatura</h1>
    </div>
    <button class="btn btnnav" type="button" id="button-addon2" onclick="redirigir()"><i class="fa-solid fa-question"></i></button>
</div>
  
  <br>

<div class="card">
  <div class="card-body">
    <!-- Agregar un div para mostrar el mensaje -->
    <div id="mensaje">
      {% if mensaje %}
        <p>{{ mensaje }}</p>
      {% endif %}
    </div>

    <h1>Agregar Asignatura</h1>
    <form method="post" action="{% url 'agreg_asig' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" maxlength="100">
        </div>
    
        <div class="form-group">
            <label for="sigla">Sigla:</label>
            <input type="text" class="form-control" id="sigla" name="sigla" maxlength="10">
        </div>
    
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
  </div>
</div>
{% endblock %}






