{% extends '../layout/dash_base_docente.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  


<div class="input-group">
    <button class="btn btnnav" type="button" id="button-addon2" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i></button>
    <div class="col text-center text-bg-dark">
        <h1>Modificar Salida a Terreno</h1>
    </div>
    <button class="btn btnnav" type="button" id="button-addon2" onclick="redirigir()"><i class="fa-solid fa-question"></i></button>
</div>

<div class="container justify-content-center py-4">
    <div class="card p-4">
        <form method="post" action="{% if instance %}{% url 'editar_salida' instance.id %}{% endif %}" id="myForm">

            {% csrf_token %}
            <div class="d-flex align-items-center pb-3">
                <label style="margin-right: 12px;" for="">Situacion: </label>
                {{ form.situacion }}
            </div>

            <hr>

            <div class="pb-3">
                <div class="form-floating">
                    {{ form.numero_cuenta }}
                    <label class="form-label" for="typeNumber">Numero de cuenta...</label>
                </div>
            </div>

            <hr>

            <div class="d-flex align-items-center pb-3">
                <label style="margin-right: 12px;" for="">Semestre:</label>
                {{ form.semestre }}
            </div>

            <hr>


            <div class="pb-3">
                <div class="form-floating">
                    {{ form.anio }}
                    <label for="floatingTextarea">Año...</label>
                </div>
            </div>

            <hr>
            
            <div class="pb-3">
                <div class="form-floating">
                    {{ form.semana }}
                    <label for="floatingTextarea">Semana...</label>
                </div>
            </div>

            <hr>

            <div class="d-flex align-items-center pb-3">
                <label style="margin-right: 12px;" for="">Actividad:</label>
                {{ form.actividad }}
            </div>

            <hr>
            
            <div class="d-flex pb-3">
                <label for="fecha">Fecha Ingreso:</label>
                <input type="date" class="form-control" id="id_fecha_ingreso" name="fecha_ingreso" value="{{ form.fecha_ingreso.value|date:'Y-m-d' }}">
            </div>
            
            <div class="d-flex pb-3">
                <label for="fecha">Fecha Termino:</label>
                <input type="date" class="form-control" id="id_fecha_termino" name="fecha_termino" value="{{ form.fecha_termino.value|date:'Y-m-d' }}">
            </div>

            <hr>
            
            <div class="d-flex pb-3">
                <div class="form-floating mgr">
                    {{ form.dias }}
                    <label for="floatingTextarea">Dias...</label>
                </div>

                <hr>
            
                <div class="form-floating">
                    {{ form.noches }}
                    <label for="floatingTextarea">Noches...</label>
                </div>
            </div>

            <hr>
            <p class='h5'>DÍAS  SEMANA:</p>

        {% for checkbox in form.diasemana %}
        <div class="form-check form-check-inline">
        {{ checkbox.tag }}
        <label class="form-check-label" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
        </div>
        {% endfor %}

        <hr>


            
        
            <div class="form-floating pb-3">
                {{ form.lugar_ejecucion }}
                <label for="floatingTextarea">Lugar de Ejecucion...</label>
            </div>

            <hr>

            <div class="d-flex align-items-center pb-3">
                <label style="margin-right: 12px;" for="">Asignatura:</label>
                {% for checkbox in form.asignaturas %}
            <div class="form-check">
                {{ checkbox.tag }}
                <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                    {{ checkbox.choice_label }} <br>
                </label>
            </div>
            {% endfor %}
            </div>

            <hr>

            <p class='h5'>Asignatura base:</p>
            <div class="d-flex align-items-center pb-3">
                <label style="margin-right: 12px;" for="id_asig_base">Asignatura:</label>
                <select class='form-select' id="id_asig_base" name="asig_base">
                    <option value="">Seleccione una asignatura base</option>
                </select>
            </div>
            
            <hr>


            <p class='h4'>Seccion:</p>

                {% comment %} {% for checkbox in form.secciones %}
                <div class="form-check">
                    {{ checkbox.tag }}
                    <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                        {{ checkbox.choice_label }}
                    </label>
                </div>
                {% endfor %} {% endcomment %}
                <div id="secciones-container" class="d-none"><!-- Agrega la clase d-none para ocultarlo inicialmente -->
                    {% for seccion in secciones_seleccionadas %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="secciones" value="{{ seccion.id }}" checked>
                            <label class="form-check-label" for="seccion-{{ seccion.id }}">
                                {{ seccion.asignatura }} - {{ seccion.seccion }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
                
                
                
                
                

            <hr>

            <div class="d-flex align-items-center pb-3">
                <label style="margin-right: 12px;" for="">Exp. de aprendizaje:</label>
                {{ form.exp_aprendizaje }}
            </div>

            <hr>

            <div class="form-floating pb-3">
                {{ form.num_alumnos }}
                <label class="form-label" for="typeNumber">Numero de alumnos</label>
            </div>

          

                <hr>

            <div class="d-flex align-items-center pb-3">
                <label style="margin-right: 12px;" for="">Docente titular:</label>
                {{ form.docente_titular }}
            </div>
            
            <hr>

            <p class='h5'>Docentes de apoyo...:</p>

            {% for checkbox in form.docentes_apoyo %}
            <div class="form-check">
                {{ checkbox.tag }}
                <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                    {{ checkbox.choice_label }}
                </label>
            </div>
            {% endfor %}


            <hr>




            

            <div class="form-floating pb-3">
                {{ form.num_salida }}
                <label class="form-label" for="typeNumber">Numero de salida</label>
            </div>


            {% comment %} <hr>


            <p class='h5'>Asig. comp. terreno11:</p>

            {% for checkbox in form.secciones %}
            <div class="form-check">
                {{ checkbox.tag }}
                <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                    {{ checkbox.choice_label }}
                </label>
            </div>
            {% endfor %} {% endcomment %}


            <hr>
            
            <div class="form-floating pb-3">
                {{ form.observaciones }}
                <label for="floatingTextarea2">Observaciones...</label>
            </div>


            <hr>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btnagre" type="button" onclick="{{ form.listar_alumnos.action }}">Listar Alumnos</button>
                <button class="btn btnagre" type="submit">Modificar salida a Terreno <i class="fa-regular fa-square-plus mas"></i></button>
            </div>


        </script>
            
        {% comment %} <script>
            function submitForm() {
                // Obtener todos los campos de entrada del formulario
                var formElements = document.getElementById("myForm").elements;
        
                // Verificar si algún campo está vacío
                for (var i = 0; i < formElements.length; i++) {
                    if (formElements[i].type !== "button" && formElements[i].value === "") {
                        alert("Por favor, complete todos los campos antes de enviar el formulario.");
                        formElements[i].style.border = "2px solid red";
                        formValido = false;
                        return false; // Evita que el formulario se envíe si hay campos vacíos

                    }
                }
        
                // Enviar el formulario si todos los campos están completos
                document.getElementById("myForm").submit();
            }
        </script> {% endcomment %}

       

            </form>
            </div>
            </div>
            

    {% if success %}
        <script>
        alert("La Salida a terreno se guardó correctamente!");
        </script>
    {% endif %}



  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Función para cargar las secciones
            function cargarSecciones() {
                // Variable para almacenar las selecciones previas de secciones
                var seccionesSeleccionadasAntes = [];
    
                // Obtener las secciones seleccionadas antes de realizar la solicitud AJAX
                $('input[name="secciones"]:checked').each(function() {
                    seccionesSeleccionadasAntes.push($(this).val());
                });
    
                // Obtener las asignaturas seleccionadas
                var asignaturasSeleccionadas = $('input[name="asignaturas"]:checked').map(function() {
                    return this.value;
                }).get();
    
                // Realizar la solicitud AJAX solo si hay asignaturas seleccionadas
                if (asignaturasSeleccionadas.length > 0) {
                    // Realizar la solicitud AJAX para obtener las nuevas secciones
                    $.ajax({
                        url: '{% url 'obtener_secciones' %}',
                        method: 'GET',
                        data: {
                            asignaturas: asignaturasSeleccionadas
                        },
                        success: function(data) {
                            // Limpiar el contenedor de secciones
                            $('#secciones-container').empty();
    
                            // Iterar sobre las secciones obtenidas y agregar checkboxes al formulario
                            data.forEach(function(seccion) {
                                // Crear un nuevo elemento de checkbox con clases de Bootstrap
                                var checkbox = $('<input>').attr({
                                    type: 'checkbox',
                                    name: 'secciones',
                                    value: seccion.id,
                                    id: 'seccion-' + seccion.id, // Asigna un ID único para cada checkbox
                                    class: 'form-check-input' // Agrega la clase de Bootstrap para checkbox
                                });
                                var label = $('<label>').attr('for', 'seccion-' + seccion.id).text(seccion.asignatura + ' - ' + seccion.seccion);
                                label.addClass('form-check-label'); // Agrega la clase de Bootstrap para etiquetas de formulario
    
                                // Verificar si la sección estaba seleccionada antes de modificar las asignaturas
                                if (seccionesSeleccionadasAntes.includes(seccion.id.toString())) {
                                    checkbox.prop('checked', true);
                                }
    
                                // Agregar el checkbox y su etiqueta al contenedor de secciones
                                $('#secciones-container').append($('<div>').addClass('form-check').append(checkbox).append(label));
                                $('#secciones-container').append('<br>'); // Agregar un salto de línea para separar los checkboxes
                            });
    
                            // Mostrar el contenedor de secciones y aplicar clases de Bootstrap
                            $('#secciones-container')
                                .removeClass('d-none')  // Remover la clase d-none para mostrar el contenedor
                                .addClass('container')  // Agregar la clase container de Bootstrap para el formato
                                .addClass('mt-3');      // Agregar márgenes superiores con la clase mt-3 de Bootstrap
                        },
                        error: function(xhr, errmsg, err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                }
            }
    
            // Cargar las secciones al cargar la página
            cargarSecciones();
    
            // Cargar las secciones al cambiar las asignaturas
            $('input[name="asignaturas"]').change(function() {
                cargarSecciones();
            });
        });
    </script>
    
    
    
    <script>
        // Función para actualizar el campo de asignatura base con las asignaturas seleccionadas
        function actualizarAsigBase() {
            var asignaturasSeleccionadas = document.querySelectorAll('input[name="asignaturas"]:checked');
            var selectAsigBase = document.getElementById('id_asig_base');
            var asigBaseSeleccionada = selectAsigBase.value;
            var asigBaseActualizada = false; // Bandera para indicar si la asignatura base seleccionada ha sido actualizada
            
            // Limpiar las opciones del campo de asignatura base
            selectAsigBase.innerHTML = '<option value="">Seleccione una asignatura base</option>';
            
            // Recorrer las asignaturas seleccionadas y agregarlas como opciones al campo de asignatura base
            asignaturasSeleccionadas.forEach(function(asignatura) {
                var option = document.createElement('option');
                option.value = asignatura.value;
                option.textContent = asignatura.nextElementSibling.textContent.trim();
                selectAsigBase.appendChild(option);
                
                // Verificar si la asignatura actual coincide con la asignatura base seleccionada anteriormente
                if (asignatura.value === asigBaseSeleccionada) {
                    // Si coincide, marcar la asignatura base como seleccionada
                    selectAsigBase.value = asigBaseSeleccionada;
                    asigBaseActualizada = true;
                }
            });
            
            // Si la asignatura base no se ha actualizado, deseleccionarla
            if (!asigBaseActualizada) {
                selectAsigBase.value = '';
            }
        }
        
        // Escuchar los cambios en los checkboxes de asignaturas
        document.querySelectorAll('input[name="asignaturas"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', actualizarAsigBase);
        });
        
        // Llamar a la función inicialmente para reflejar el estado inicial de las asignaturas seleccionadas
        actualizarAsigBase();
    
        // Seleccionar la asignatura base guardada desde form.asig_base al cargar la página
        var selectAsigBase = document.getElementById('id_asig_base');
        var asigBaseGuardada = "{{ form.asig_base.value }}";
        if (asigBaseGuardada) {
            selectAsigBase.value = asigBaseGuardada;
        }
    </script>
    
    
    <script>
        function submitForm() {
            // Obtener todos los campos de entrada del formulario
            var formElements = document.getElementById("myForm").elements;
        
            // Verificar si algún campo de checkbox está marcado
            var checkboxChecked = false;
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    checkboxChecked = true;
                }
            });
        
            // Verificar si algún campo está vacío
            for (var i = 0; i < formElements.length; i++) {
                if (formElements[i].type !== "button" && formElements[i].value === "" && formElements[i].required) {
                    alert("Por favor, complete todos los campos antes de enviar el formulario.");
                    return false; // Evita que el formulario se envíe si hay campos vacíos
                }
            }
        
            // Verificar si al menos un checkbox está marcado
            if (!checkboxChecked) {
                alert("Por favor, seleccione al menos una opción.");
                return false; // Evita que el formulario se envíe si ningún checkbox está marcado
            }
        
            // Enviar el formulario si todos los campos están completos y al menos un checkbox está marcado
            document.getElementById("myForm").submit();
        }
        
    </script>
    
    
    
    
    
    
    

    

{% endblock %}