{% extends '../layout/dash_base_docente.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card text-bg-dark align-items-center">
  <h1>Editar usuario</h1>
</div>

<br>

<div class="container justify-content-center py-4">
  <div class="card p-4">
    
      <div class="card-body">
        <div id="mensaje">
          {% if mensaje %}
            <div class="alert alert-success" role="alert">
              {{ mensaje }}
            </div>
          {% endif %}
        </div>

        <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}

          <!-- Renderizar campos del formulario de usuario -->
          <div class="mb-3">
            <label for="{{ user_form.username.id_for_label }}" class="form-label">Nombre de usuario:</label>
            {{ user_form.username }}
          </div>

          <div class="mb-3">
            <label for="{{ user_form.email.id_for_label }}" class="form-label">Dirección de correo electrónico:</label>
            {{ user_form.email }}
          </div>

          <!-- Renderizar campos del formulario de metadata -->
          <div class="mb-3">
            <label for="{{ metadata_form.sexo.id_for_label }}" class="form-label">Sexo:</label>
            {{ metadata_form.sexo }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.perfil.id_for_label }}" class="form-label">Perfil:</label>
            {{ metadata_form.perfil }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.nacionalidad.id_for_label }}" class="form-label">Nacionalidad:</label>
            {{ metadata_form.nacionalidad }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.semestre.id_for_label }}" class="form-label">Semestre:</label>
            {{ metadata_form.semestre }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.sede.id_for_label }}" class="form-label">Sede:</label>
            {{ metadata_form.sede }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.nom_carrera.id_for_label }}" class="form-label">Nombre de carrera:</label>
            {{ metadata_form.nom_carrera }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.jornada.id_for_label }}" class="form-label">Jornada:</label>
            {{ metadata_form.jornada }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.rut.id_for_label }}" class="form-label">Rut:</label>
            {{ metadata_form.rut }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.nombres.id_for_label }}" class="form-label">Nombres:</label>
            {{ metadata_form.nombres }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.ap_paterno.id_for_label }}" class="form-label">Apellido paterno:</label>
            {{ metadata_form.ap_paterno }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.ap_materno.id_for_label }}" class="form-label">Apellido materno:</label>
            {{ metadata_form.ap_materno }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.fnacimiento.id_for_label }}" class="form-label">Fecha de nacimiento:</label>
            {{ metadata_form.fnacimiento }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.estado_civil.id_for_label }}" class="form-label">Estado civil:</label>
            {{ metadata_form.estado_civil }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.direccion.id_for_label }}" class="form-label">Direccion:</label>
            {{ metadata_form.direccion }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.numero.id_for_label }}" class="form-label">Número:</label>
            {{ metadata_form.numero }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.celular.id_for_label }}" class="form-label">Celular:</label>
            {{ metadata_form.celular }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.contacto_emergencia.id_for_label }}" class="form-label">Contacto emergencia:</label>
            {{ metadata_form.contacto_emergencia }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.estado.id_for_label }}" class="form-label">Estado de Usuario:</label>
            {{ metadata_form.estado }}
          </div>

          <div class="mb-3">
            <label for="{{ metadata_form.foto.id_for_label }}" class="form-label">Foto:</label>
            {{ metadata_form.foto }}
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    
  </div>
</div>
{% endblock %}
