{% extends '../layout/dash_base_docente.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center bg-dark text-light">Gestión Usuarios</h5>
    <div class="mb-3">
      <a href="{% url 'agreg-usuarios' %}" class="btn btn-success float-end">Agregar Usuario</a>
    </div>
    <h1>Lista de Usuarios</h1>
    <ul class="list-group">
      {% for usuario in usuarios %}
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div>
            <strong>Nombre de usuario:</strong> {{ usuario.user.username }}<br>
            <strong>Correo:</strong> {{ usuario.user.email }}<br>
            <strong>Perfil:</strong> {{ usuario.perfil.nombre }}<br>
            <strong>Sexo:</strong> {{ usuario.sexo.nombre }}<br>
            <strong>Estado:</strong> {{ usuario.estado }}<br>
          </div>
          <div class="d-flex align-items-center">
            <a href="{% url 'edit-usuarios' usuario.id %}" class="btn btn-primary me-2">Editar</a>
            <form method="post" action="{% url 'eliminar-usuarios' usuario.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
          </div>
        </div>
      </li> 
      {% empty %}
      <li class="list-group-item">No hay usuarios disponibles.</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div>
  {% include 'layout/paginatorusers.html' %}
</div>
{% endblock %}




