{% extends '../layout/dash_base_docente.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  




<div class="container text-center">
  <div class="row ps-5">
    <div class="col-sm  ">
      <!-- contenido 1. -->
      <div class="card text-bg-primary mb-3 border border-black border-2" style="max-width: 18rem;">
        <div class="card-header fw-bold">Cantidad alumnos</div>
        <div class="card-body">
          <h5 class="card-title fs-1 fw-bold"> {{cantidad_alumnos}}</h5>
          
        </div>
      </div>
      <!-- end contenido 1 -->
    </div>
    <div class="col-sm">
      <!-- contenido -->
      <div class="card text-bg-warning mb-3 border border-black border-2" style="max-width: 18rem;">
        <div class="card-header fw-bold">Cantidad salidas</div>
        <div class="card-body">
          <h5 class="card-title fs-1 fw-bold">{{cantidad_salidas}}</h5>
        </div>
      </div>
      <!-- contenido -->
    </div>
    <div class="col-sm">
      <!-- contenido -->
      <div class="card text-bg-danger mb-3 border border-black border-2" style="max-width: 18rem;">
        <div class="card-header fw-bold ">Cantidad asignaturas</div>
        <div class="card-body">
          <h5 class="card-title fs-1 fw-bold">{{cantidad_asignaturas}}</h5>
        </div>
      </div>
      <!-- contenido -->
    </div>
    <div class="col-sm">
      <!-- contenido -->
      <div class="card text-bg-success mb-3 border border-black border-2" style="max-width: 18rem;">
        <div class="card-header fw-bold">Cantidad secciones</div>
        <div class="card-body">
          <h5 class="card-title fs-1 fw-bold">{{cantidad_secciones}}</h5>
          
        </div>
      </div>
      <!-- contenido -->
    </div>
  </div>


 <!-- contenido segundo row -->

 <div class="col-sm-6">
  <!-- Contenido -->
 
  <!-- Contenido -->
</div>

    
  

  
    
    <div class="col-sm-6">
      <!-- contenido -->
      <div class="container">
        <div class="row">
            <div class="col">
                <h3>Salidas a terreno</h3>
                <div class="accordion" id="accordionSalidas">
                    {% for salida in salidas %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                            <button class="accordion-button border border-black" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                              <strong> {{ salida.actividad }} |  {{ salida.fecha_ingreso }} - {{ salida.fecha_termino }}</strong>
                            </button>
                        </h2>
                        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionSalidas">
                            <div class="accordion-body text-start border border-dark">
                              <p><strong>Días:</strong> {{ salida.dias }}</p>
                              <p><strong>Noches:</strong> {{ salida.noches }}</p>
                              <p><strong>Lugar de ejecución:</strong> {{ salida.lugar_ejecucion }}</p>
                              <p><strong>Docente titular:</strong> {{ salida.docente_titular }} ({{ salida.docente_titular.correoduoc }})</p>
                              <p><strong>Docentes de apoyo:</strong>
                                {% for docente_apoyo in salida.docentes_apoyo.all %}
                                    {% if docente_apoyo != salida.docente_titular %}
                                        {{ docente_apoyo }} ({{ docente_apoyo.correoduoc }}){% if not forloop.last %}, {% endif %}
                                    {% endif %}
                                    {% if salida.docentes_apoyo.count == 0 or salida.docentes_apoyo.first == salida.docente_titular %}
                                    No se ha asignado un docente de apoyo. Por favor, edítalo desde "Gestionar Salida a Terreno".
                                    {% endif %}
                                {% empty %}
                                    No se ha asignado un docente de apoyo. Por favor, edítalo desde "Gestionar Salida a Terreno".
                                {% endfor %}
                            </p>
                              <p><strong>Asignatura base:</strong> {{ salida.asig_base.nombre }}</p>
                              <p><strong>Estado del semáforo:</strong>
                                {% if salida.semaforo.estado %}
                                    {{ salida.semaforo.estado }}
                                {% else %}
                                    No se ha asignado un valor para el semáforo. Por favor, edítalo desde "Gestionar Salida a Terreno".
                                {% endif %}
                            </p>
                            <hr>

                              <p><strong>Asignaturas activas:</strong> {{ salida.asignaturas.count }}</p>

                              {% regroup salida.secciones.all by asignatura as secciones_por_asignatura %}

                              {% for asignatura_group in secciones_por_asignatura %}
                                  <li>Asignatura: {{ asignatura_group.grouper }} - Total de secciones: {{ asignatura_group.list|length }}</li>
                              {% empty %}
                                  <p>Sin asignaturas asignadas. Por favor, edítelo desde "Gestionar salida a terreno".</p>
                              {% endfor %}

                              <hr>
                              <p><strong>Secciones activas:</strong> {{ salida.secciones.count }}</p>

                                  

                                  {% if salida.secciones.exists %}
                                    {% for seccion in salida.secciones.all %}
                                        <li><strong>Asignatura:</strong> {{ seccion }} - <strong> Cantidad de alumnos:</strong>  ({{ seccion.usuarios.all|length }})</li>
                                    {% endfor %}
                                {% else %}
                              <strong> <p>Sin secciones asignadas. Por favor, edítelo desde "Gestionar salida a terreno".</p></strong> 
                                {% endif %}

                                  

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
      <!-- contenido -->
    </div>
  </div>







<!-- contenido tercer row -->
  
<div class="row pt-5">
  <div class="col-sm-12">
    <!-- contenido -->
    <div class="card px-3 pb-3">  <div class="card-body">
      <div class="ratio ratio-16x9">
        <iframe width="100%" height="300"  src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricRain=mm&metricTemp=°C&metricWind=km/h&zoom=9&overlay=wind&product=ecmwf&level=surface&lat=-33.28&lon=-71.337&detailLat=-33.147&detailLon=-71.581&detail=true"
                frameborder="0"></iframe>
      </div>
    </div>
  </div>
  

    <!-- contenido -->
  </div>
  
</div>




 <!-- fin padre-->
</div>






  




{% endblock %}