{% extends '../layout/dash_base_docente.html' %} 
{% load static %}
{% load crispy_forms_tags %}

{% block content %}  

<div class="input-group">
    <button class="btn btnnav" type="button" id="button-addon2" onclick="goBack()"><i class="fa-solid fa-chevron-left"></i></button>
    <div class="col text-center text-bg-dark">
        <h1>Manual de Usuario Coordinador</h1>
    </div>
    <button class="btn btnnav" type="button" id="button-addon2" onclick="redirigir()"><i class="fa-solid fa-question"></i></button>
</div>

<br>

<div class="card tex text-center">
    <h1>Gestionar Salidas a Terreno</h1>

    <ul class="list-group text-start">
        <li class="list-group-item">
            <h5>Crear nueva salida a terreno</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para comenzar con la gestión de las salidas a terreno, deberá presionar el botón con el nombre de "Agregar nueva Salida a Terreno":
                </p>
                <p>
                    <a class="btn btnagre">Agregar nueva salida a Terreno <i class="fa-regular fa-square-plus mas"></i></a>
                </p>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Luego deberá rellenar el formulario de salida con todos los datos solicitados. Cuando ya tenga los datos ingresados, revíselos cautelosamente para listar los datos deseados.
                </p>
                <p>
                    <button class="btn btnagre" type="button">Generar salida a Terreno <i class="fa-regular fa-square-plus mas"></i></button>
                </p>
            </div>
        </li>
        
        
        <li class="list-group-item">
            <h5>Modificar Salida a Terreno</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para modificar algún dato de una Salida a Terreno, debe dirigirse a Gestionar Salidas a terreno y seleccionar la salida que desea modificar. Luego, presione el botón:
                </p>
                <p>
                    <a class="btn btn-primary btn-sm">Editar</a>
                </p>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Después de presionar el botón, la página lo redireccionará a una lista con los datos ingresados. Usted deberá editar los datos que desea modificar. Finalmente, presione el botón:
                </p>
                <p>
                    <button class="btn btnagre">Modificar salida a Terreno <i class="fa-regular fa-square-plus mas" aria-hidden="true"></i></button>
                </p>
            </div>
        </li>
        
        <li class="list-group-item">
            <h5>Eliminar Salida a Terreno</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para eliminar una Salida a Terreno, diríjase a Gestionar Salidas a terreno y seleccione la salida que desea eliminar. Luego, presione el botón:
                </p>
                <p>
                    <a class="btn btn-danger btn-sm">Eliminar</a>
                </p>
            </div>
            <br>
            <p>
                Después de ello, aparecerá un mensaje emergente preguntando si está seguro de realizar la eliminación de la Salida a Terreno. Deberá elegir una opción, ya sea: No, Cancelar o Sí, Eliminar.
            </p>
        </li>
        
        <li class="list-group-item">
            <h5>Semaforo de Salida</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para seleccionar un estado para el semáforo de la Salida a Terreno, diríjase a Gestionar Salidas a terreno y seleccione el semáforo que desea definir o modificar seleccionando el icono:
                </p>
                <p>
                    <a class="btn btn-secondary btn-circle btn-xl"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></a> &nbsp;
                    <a class="btn btn-danger btn-circle btn-xl"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></a> &nbsp;
                    <a class="btn btn-warning btn-circle btn-xl"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></a> &nbsp;
                    <a class="btn btn-success btn-circle btn-xl"><i class="fa-solid fa-pen-to-square" aria-hidden="true"></i></a>
                </p>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Al momento de presionar uno de los iconos, la página redireccionará a un sitio donde se tiene que definir el estado del semáforo. Luego de ello, presione el botón:
                </p>
                <p>
                    <button class="btn btnagre">Guardar Semaforo <i class="fa-regular fa-square-plus mas" aria-hidden="true"></i></button>
                </p>
            </div>
        </li>
        
      </ul>
</div>

<br>

<div class="card tex text-center">
    <h1>Gestionar Asignaturas</h1>

    <ul class="list-group text-start">
        <li class="list-group-item">
            <h5>Agregar Asignatura</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para agregar una nueva asignatura, debe dirigirse a gestionar asignaturas y presionar el botón:
                </p>
                <p>
                    <a class="btn btn-success">Agregar Asignatura <i class="fa-regular fa-square-plus mas" aria-hidden="true"></i></a>
                </p>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Luego de ello, la página lo redireccionará a un formulario, el cual debe rellenar con Nombre, Sigla, Docentes y Secciones. Después de ingresar los datos, deberá presionar el botón:
                </p>
                <p>
                    <button class="btn btn-primary">Guardar</button>
                </p>
            </div>
        </li>
        

        <li class="list-group-item">
            <h5>Editar Asignatura</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para modificar algún dato de una asignatura, debe dirigirse a gestionar asignaturas y seleccionar la asignatura que desea modificar. Luego, presione el botón:
                </p>
                <p>
                    <a class="btn btn-primary btn-sm">Editar</a>
                </p>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Después de presionar el botón, la página lo redireccionará a una lista con los datos ingresados. Usted deberá editar los datos que desea modificar. Finalmente, deberá presionar el botón:
                </p>
                <p>
                    <button class="btn btn-primary">Guardar cambios</button>
                </p>
            </div>
        </li>
        
        <li class="list-group-item">
            <h5>Eliminar Asignatura</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para eliminar una asignatura, diríjase a gestionar asignaturas y seleccione la asignatura que desea eliminar. Luego, presione el botón:
                </p>
                <p>
                    <a class="btn btn-danger btn-sm">Eliminar</a>
                </p>
            </div>
            <br>
            <p>
                Luego de ello, aparecerá un mensaje emergente preguntando si está seguro de realizar la eliminación de la asignatura. Ahí deberá elegir una opción, ya sea: No, Cancelar o Sí, Eliminar.
            </p>
        </li>
        
    </ul>
</div>

<br>

<div class="card text text-center">
    <h1>Gestión de Usuarios</h1>

    <ul class="list-group text-start">
        <li class="list-group-item">
            <h5>Sistema de búsqueda</h5>
            <p>
                Cuando esté en el menú de Gestión de Usuarios, diríjase a la barra superior de la página y seleccione entre las opciones para filtrar un usuario o usuarios en específico:
            </p>
            <div class="row">
                <div class="col-md-4 mb-2">
                    <label for="perfil">Perfil:</label>
                    <select name="perfil" class="form-control">
                        <option value="">Todos</option>
                        <option value="Docente">Docente</option>
                        <option value="Alumno">Alumno</option>
                        <option value="Coordinador">Coordinador</option>
                    </select>
                </div>
        
                <div class="col-md-4 mb-2">
                    <label for="sexo">Sexo:</label>
                    <select name="sexo" class="form-control">
                        <option value="">Todos</option>
                        <option value="MASCULINO">Masculino</option>
                        <option value="FEMENINO">Femenino</option>
                    </select>
                </div>
        
                <div class="col-md-4 mb-2">
                    <label for="search">Buscar:</label>
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Buscar" value="">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <br>
            <p>
                También puede filtrar mediante palabras clave en la barra de búsqueda, para un usuario con un dato específico.
            </p>
        </li>
        
        


        <li class="list-group-item">
            <h5>Agregar Usuario</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para agregar un nuevo usuario, debe dirigirse a Gestión de Usuarios y presionar el botón:
                    
                </p>
                <a class="btn btn-success">Agregar Usuario <i class="fa-regular fa-square-plus mas" aria-hidden="true"></i></a>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Luego deberá completar el formulario con todos los datos solicitados. Después de ingresar los datos, revíselos cuidadosamente para lograr una creación de usuario exitosa. Para finalizar, presione el botón:
                </p>
                    <button class="btn btn-primary">Guardar</button>
                
            </div>
        </li>
        
        
        

        <li class="list-group-item">
            <h5>Editar Usuario</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para modificar algún dato del usuario, debe dirigirse a Gestión de Usuarios y seleccionar el usuario que desea modificar. Luego, presione el botón:
                </p>
                <p>
                    <a class="btn btn-primary btn-sm">Editar</a>
                </p>
            </div>
            <br>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Después de presionar el botón, la página lo redireccionará a una lista con los datos ingresados. Usted deberá editar los datos que desea modificar. Finalmente, presione el botón:
                </p>                    
                    <button class="btn btn-primary">Guardar cambios</button>

            </div>
        </li>
        
        
        <li class="list-group-item">
            <h5>Eliminar Usuario</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para eliminar un usuario, debe dirigirse a Gestión de Usuarios y seleccionar el usuario que desea eliminar. Luego, presione el botón:
                </p>
                <p>
                    <a class="btn btn-danger btn-sm">Eliminar</a>
                </p>
            </div>
            <br>
            <p>
                Luego de ello, aparecerá un mensaje emergente preguntando si está seguro de realizar la eliminación del usuario. Ahí deberá elegir una opción, ya sea: No, Cancelar o Sí, Eliminar.
            </p>
        </li>
        
        
        <li class="list-group-item">
            <h5>Visualizar perfil</h5>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    Para visualizar la información subida por el usuario, en este caso, la ficha médica, debe dirigirse a Gestión de Usuarios, seleccionar el usuario que desea y presionar el botón:
                </p>
                <p>
                    <button class="btn btn-info me-2" aria-expanded="false" aria-controls="collapseUsuario56">
                        Ver Perfil
                    </button>
                </p>
            </div>
            <br>
            <p>
                Al presionar el botón se desplegará un enlace que contiene la ficha médica subida por el usuario.
            </p>
        </li>
        
        

    </ul>

</div>

<br>

<div class="card text text-center">
    <h1>Video Explicativo</h1>
    <ul class="list-group text-start">
        <li class="list-group-item">
            
            <div class="d-flex justify-content-center">
                <iframe width="800" height="450" src="https://www.youtube.com/embed/a8oI4nNW8b0" frameborder="0" allowfullscreen style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"></iframe>
            </div>
            <br>
        </li>
    </ul>
</div>


<br>

{% endblock %}