<li class="nav-item py-2 py-sm-0 ">
    <a href="{% url 'home_alumno' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'home_alumno' or request.resolver_match.url_name == 'home_alumno' or request.resolver_match.url_name == 'home_alumno' %}active{% endif %}">
        <i class="txt fa fa-house"></i><span class="txt ms-2 d-none d-sm-inline">Home</span>
    </a>
</li>
<li class="nav-item py-2 py-sm-0 ">
    <a href="{% url 'ji_alumno' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'ji_alumno' or request.resolver_match.url_name == 'ji_alumno' or request.resolver_match.url_name == 'ji_alumno' %}active{% endif %}" >
        <i class="txt fa fa-heart-circle-plus"></i><span class="txt ms-2 d-none d-sm-inline">Justificación
            de inasistencia</span>
    </a>
</li>
<li class="nav-item py-2 py-sm-0 ">
    <a href="{% url 'msalida_alumno' %}" class="nav-link text-white {% if request.resolver_match.url_name == 'msalida_alumno' or request.resolver_match.url_name == 'msalida_alumno' or request.resolver_match.url_name == 'msalida_alumno' %}active{% endif %}">
        <i class="txt fa fa-person-walking-luggage"></i><span class="txt ms-2 d-none d-sm-inline">Salida a Terreno</span>
    </a>
</li>
<li class="nav-item py-2 py-sm-0 mb-4">
    <a href="#" class="nav-link text-white {% if request.resolver_match.url_name == 'gest_users' or request.resolver_match.url_name == 'gest_users' or request.resolver_match.url_name == 'gest_users' %}active{% endif %}">
        <i class="txt fa fa-book-bookmark"></i><span class="txt ms-2 d-none d-sm-inline">Asignatura</span>
    </a>
</li>