<div class="container-fluid   ">
    <div class="row flex-nowrap ">
        <div class="colormn col-auto col-md-3 col-lg-1 min-vh-100 d-flex flex-column justify-content-between d-none d-lg-block">
            <div class="colormn p-2   ">
                <a class="d-flex text-decoration-none mt-1 aling-items-center text-white">
                    <span class="fs-4 d-none d-sm-inline">Menu</span>
                </a>
                <ul
                    class="nav nav-pills flex-column mt-4">
                    {% for url in urls %}
                    <li class="nav-item py-2 py-sm-0 mb-4">
                        <a href="{% url url.url %}" class="nav-link text-white {% if request.resolver_match.url_name == url.url %}active{% endif %}">
                            <i class='{{ url.icon }}'></i><span class="txt ms-2 d-none d-sm-inline">{{ url.nombre }}</span>
                        </a>
                    </li>
                {% endfor %}
                
                  




            </div>

            <div class="dropdown open p-2  ">
                <a class="btn border-none dropdown-toggle text-white" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i><span class="ms-2">{{user.username}}</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    <a class="dropdown-item" href="{% url 'aperfil' %}">Perfil</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                </div>
            </div>
            

        </div>

        

        