.txt{
    font-size: 12px !important;
}

.btnagre{
    background-color: #CCCCCC !important;
}

.btnagre:hover{
    background-color: transparent !important;
    border-color: black !important;
}

.mas{
    color: greenyellow !important;
}

.mgr{
    margin-right: 15px;
}

.tabla{
    font-size: 12px !important;
}

.tac{
    text-align: center !important;
}

.tacs{
    vertical-align: middle;
}

.btnclima{
    background-color: #c1c700 !important;
}

.btnclima:hover{
    background-color: transparent !important;
    border-color: black !important;
}